<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Új Termék Hozzáadása a Raktárhoz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>
    
    <h1>Új Termék Hozzáadása a Raktárhoz</h1>
    
    <form method="POST">
        <label for="cikkszam">Cikkszám:</label><br>
        <input type="text" id="cikkszam" name="cikkszam" required><br><br>

        <label for="mennyiseg">Mennyiség:</label><br>
        <input type="number" id="mennyiseg" name="mennyiseg" required><br><br>

        <label for="lokacio">Lokáció:</label><br>
        <input type="text" id="lokacio" name="lokacio" required><br><br>

        <button type="submit">Hozzáadás</button>
    </form>
</body>
</html>
