<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ügyfelek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('products') }}">Termékek</a>
        <a class="disabled">Ügyfelek</a>
        <a href="{{ url_for('orders') }}">Megrendelések</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>

    <h1>Ügyfelek</h1>

    <!-- Hibaüzenet megjelenítése -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div class="container">
        <!-- "Új ügyfél hozzáadása" gomb -->
        <a href="{{ url_for('add_customer') }}" class="button-wrapper">
            <button>Új ügyfél hozzáadása</button>
        </a>
        <!-- Ügyfelek táblázata -->
        <table>
            <thead>
                <tr>
                    <th>
                        {% if order_by == 'nev' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='nev', page=page) }}">Neve ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='nev', page=page) }}">Neve ▲</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if order_by == 'iranyitszam' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='iranyitoszam', page=page) }}">Ir. szám ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='iranyitoszam', page=page) }}">Ir. szám ▲</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if order_by == 'varos' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='varos', page=page) }}">Város ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='varos', page=page) }}">Város ▲</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if order_by == 'utca' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='utca', page=page) }}">Utca ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='utca', page=page) }}">Utca ▲</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if order_by == 'hazszam' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='hazszam', page=page) }}">Házszám ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='hazszam', page=page) }}">Házszám ▲</a>
                        {% endif %}
                    </th>
                    <th>
                        {% if order_by == 'email' and desc %}
                        <a href="{{ url_for('customers', desc=0, order_by='email', page=page) }}">Email ▼</a>
                        {% else %}
                        <a href="{{ url_for('customers', desc=1, order_by='email', page=page) }}">Email ▲</a>
                        {% endif %}
                    </th>
                    <th>Törlés</th>                    
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.nev }}</td>
                    <td>{{ customer.iranyitoszam }}</td>
                    <td>{{ customer.varos }}</td>
                    <td>{{ customer.utca }}</td>
                    <td>{{ customer.hazszam }}</td>
                    <td>{{ customer.email }}</td>
                    <td>
                        <form action="{{ url_for('delete_customer', email=customer.email) }}" method="post">
                            <button type="submit">Törlés</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('customers', page=1) }}">Első oldal</a>
        <a href="{{ url_for('customers', page=page-1) }}">Előző</a>
    {% endif %}

    {% for p in range(start_page, end_page + 1) %}
        <a href="{{ url_for('customers', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
    {% endfor %}

    {% if page < total_pages %}
        <a href="{{ url_for('customers', page=page+1) }}">Következő</a>
        <a href="{{ url_for('customers', page=total_pages) }}">Utolsó oldal</a>
    {% endif %}
</div>

</body>
</html>
