<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Megrendelések</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('products') }}">Termékek</a>
        <a href="{{ url_for('customers') }}">Ügyfelek</a>
        <a class ="disabled">Megrendelések</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>
    <h1>Megrendelések</h1>

    <!-- Hibaüzenetek -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div class="container">
        <!-- Megrendelés hozzáadása gomb -->
        <a href="{{ url_for('add_order') }}">
            <button>Megrendelés hozzáadása</button>
        </a>

        <table>
            <thead>
                <tr>
                    <th>Ügyfél neve</th>
                    <th>Cikkszám</th>
                    <th>Mennyiség</th>
                    <th>Lezárva</th>
                    <th>Teljesítve</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.nev }}</td>
                    <td>{{ order.cikkszam }}</td>
                    <td>{{ order.mennyiseg }}</td>
                    <!-- Lezárva oszlop -->
                    <td>
                        <form action="{{ url_for('update_order_status', order_id=order.id) }}" method="POST" class="nem">
                            <!-- Lezárva checkbox -->
                            <input type="checkbox" name="lezarva" {% if order.lezarva %}checked{% endif %} onchange="this.form.submit()" {% if order.teljesitve %}disabled{% endif %}>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('update_order_status', order_id=order.id) }}" method="POST" class="nem">
                            <!-- Teljesítve checkbox -->
                            <input type="checkbox" name="teljesitve" {% if order.teljesitve %}checked{% endif %} onchange="this.form.submit()" {% if order.teljesitve %}disabled{% endif %}>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
