<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Termékek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('customers') }}">Ügyfelek</a>
        <a href="{{ url_for('orders') }}">Megrendelések</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>
    <h1>Termékek</h1>

    <!-- Hibaüzenet megjelenítése -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <a href="{{ url_for('add_product') }}">Új termék hozzáadása</a>
    <table>
        <thead>
            <tr>
                <th>Cikkszám</th>
                <th>Termék neve</th>
                <th>Ár</th>
                <th>Súly</th>
                <th>Kategória</th>
                <th>Törlés</th> <!-- Törlés oszlop hozzáadása -->
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.cikkszam }}</td>
                <td>{{ product.nev }}</td>
                <td>{{ product.ar }}</td>
                <td>{{ product.suly }}</td>
                <td>{{ product.kategoria }}</td>
                <td>
                    <!-- Törlés gomb, ami POST kérést küld -->
                    <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post">
                        <button type="submit">Törlés</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
