<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <title>Termék részletei</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('products') }}">Termékek</a>
        <a href="{{ url_for('customers') }}">Ügyfelek</a>
        <a href="{{ url_for('orders') }}">Megrendelések</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>

    <h1>{{ product.nev }} - Termék részletei</h1>

    <div class="product-details">
        <p><strong>ID:</strong> {{ product.id }}</p>
        <p><strong>Cikkszám:</strong> {{ product.cikkszam }}</p>
        <p><strong>Egység Vonalkód:</strong> {{ product.egyseg_vonalkod }}</p>
        <p><strong>Gyűjtő Vonalkód:</strong> {{ product.gyujto_vonalkod }}</p>
        <p><strong>Név:</strong> {{ product.nev }}</p>
        <p><strong>Ár:</strong> {{ product.ar }}</p>
        <p><strong>Súly:</strong> {{ product.suly }}</p>
        <p><strong>Kategória:</strong> {{ product.kategoria }}</p>
    </div>
    

    <div class="container">
        <h2>Raktári elhelyezés</h2>
        <table>
            <thead>
                <tr>
                    <th>Lokáció</th>
                    <th>Mennyiség</th>
                </tr>
            </thead>
            <tbody>
                {% for item in stock %}
                <tr>
                    <td>{{ item.lokacio }}</td>
                    <td>{{ item.mennyiseg }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
