<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <title>Termékek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a class="disabled">Termékek</a>
        <a href="{{ url_for('customers') }}">Ügyfelek</a>
        <a href="{{ url_for('orders') }}">Megrendelések</a>
        <a href="{{ url_for('stock') }}">Raktáron</a>
    </nav>
    <h1>Termékek</h1>

    <!-- Hibaüzenet megjelenítése -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container">

        <!--<a href="{{ url_for('add_product') }}">Új termék hozzáadása</a>-->
        <a href="{{ url_for('add_product') }}" class="button-wrapper">
            <button>Új termék hozzáadása</button>
        </a>
        <div class="dropdown">
            <button class="dropbtn">Sorok száma: {{ query_params['per_page'] }}</button>
            <div class="dropdown-content">
                {% for size in [5, 10, 20, 50, 100] %}
                <a href="{{ url_for('products', **dict(query_params, per_page=size, page=1)) }}">{{ size }}</a>
                {% endfor %}
            </div>
        </div>
        
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>
                        <a href="{{ url_for('products', **dict(query_params, order_by=column.name, desc=0 if query_params['order_by'] == column.name and query_params['desc'] else 1)) }}">
                            {{ column.label }} {{ '▼' if query_params['order_by'] == column.name and query_params['desc'] else '▲' }}
                        </a>
                    </th>
                    {% endfor %}
                    <th>Törlés</th> <!-- Törlés oszlop -->
                </tr>
            </thead>
            
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ url_for('product_details', cikkszam=product.cikkszam) }}">
                            {{ product.cikkszam }}
                        </a>
                    </td>
                    
                    <td>
                        <a href="{{ url_for('product_details', cikkszam=product.cikkszam) }}">
                            {{ product.nev }}
                        </a>
                    </td>
                    <td>{{ product.ar }}</td>
                    <td>{{ product.suly }}</td>
                    <td>{{ product.kategoria }}</td>
                    <td>
                        <!-- Törlés gomb, ami POST kérést küld -->
                        <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post" >
                            <button type="submit">Törlés</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('products', **dict(query_params, page=1)) }}">Első oldal</a>
        <a href="{{ url_for('products', **dict(query_params, page=page-1)) }}">Előző</a>
        {% endif %}
    
        {% for p in range(start_page, end_page + 1) %}
        <a href="{{ url_for('products', **dict(query_params, page=p)) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
        {% endfor %}
    
        {% if page < total_pages %}
        <a href="{{ url_for('products', **dict(query_params, page=page+1)) }}">Következő</a>
        <a href="{{ url_for('products', **dict(query_params, page=total_pages)) }}">Utolsó oldal</a>
        {% endif %}
    </div>
    



</body>

</html>