<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Raktáron Lévő Termékek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Főoldal</a>
        <a href="{{ url_for('products') }}">Termékek</a>
        <a href="{{ url_for('customers') }}">Ügyfelek</a>
        <a href="{{ url_for('orders') }}">Megrendelések</a>
    </nav>
    <h1>Raktáron Lévő Termékek</h1>

        <!-- Hibaüzenet megjelenítése -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
    <!--<a href="{{ url_for('add_stock') }}">Új raktári termék hozzáadása</a>-->
        <a href="{{ url_for('add_stock') }}">
            <button>Új raktári termék hozzáadása</button>
        </a>
        <table>
            <thead>
                <tr>
                    <th>Cikkszám</th>
                    <th>Lokáció</th>
                    <th>Mennyiség</th>
                    <th>Akciók</th>
                </tr>
            </thead>
            <tbody>
                {% for item in stock %}
                <tr>
                    <td>{{ item.cikkszam }}</td>
                    <td>{{ item.lokacio }}</td>
                    <td>{{ item.mennyiseg }}</td>
                    <td>
                        <!-- Törlés gomb -->
                        <form action="{{ url_for('delete_stock', stock_id=item.id) }}" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('Biztosan törli a rekordot?');">Törlés</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
